/* 
***************************************
Copyright Nav-Yug Samajic Seva Snasthan
All Rights Reserved
***************************************
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
}

section {
  background: #111;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 200px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  background: #000;
  -webkit-box-reflect: below 1px
    linear-gradient(transparent, transparent, #0006);
}
