/* 
***************************************
Copyright Nav-Yug Samajic Seva Snasthan
All Rights Reserved
***************************************
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  text-align: center;
  margin-top: 50px;
  position: relative;
}

.carousel-container {
  border-radius: 10px;
  width: 60%;
  margin: auto;
  overflow: hidden;
}

.carousel-slide {
  display: flex;
  width: 100%;
  height: 500px;
}

#prevBtn {
  position: absolute;
  top: 40%;
  z-index: 10;
  left: 5%;
  font-size: 50px;
  cursor: pointer;
  color: white;
  background: #111;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

#nextBtn {
  position: absolute;
  top: 40%;
  z-index: 10;
  right: 5%;
  font-size: 50px;
  cursor: pointer;
  color: white;
  background: #111;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.footer-hero {
  width: 100%;
  background: #000;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 600px;
  height: 100px;
  color: white;
}
